<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
</head>
<body>
	<table border="0">
		<tbody>
			<tr>
				<td width="160">
					<!-- {{ .Site.Home.Permalink }} -->
					<a href="/"><img alt="gigaflops.org" border="0"
						src="/images/gigflops_org_v3.gif" width="150"></a>
				</td>
				<td width="30"></td>
				<td>
					| <a href="/supercomputers/">Supercomputers</a> |
					  <a href="/news/">News</a> |
					  <a href="/about/">About</a> |
				</td>
			</tr>
		</tbody>
	</table>
	<hr>